.cards-container {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-priority-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .priority-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .priority-dot.low {
    background-color: green;
  }
  
  .priority-dot.medium {
    background-color: blue;
  }
  
  .priority-dot.high {
    background-color: red;
  }

  .card-actions {
    position: relative;
  }
  
  .card-actions button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    z-index: 100;
    display: none;
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
  }
  
  .dropdown-menu button:hover {
    background-color: #f0f0f0;
  }
  
  .card-actions:hover .dropdown-menu {
    display: block;
  }
  
  .card-tasks {
    margin-bottom: 10px;
  }
  
  .card-due-date {
    font-size: 14px;
  }

  .card-columns span {
    cursor: pointer;
  }
  
  .card-columns span:hover {
    text-decoration: underline;
  }

  .task {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .task input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .task button {
    margin-left: auto;
  }
  