.container {
    display: flex;
  }
  
  .left-section {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  
  
  .right-section {
    flex: 3;
    padding: 20px;
    background-color: #fff;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .user-greeting {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .date {
    font-size: 1.2rem;
    color: #666;
  }
  

  